.articles {
  background-color: $veryLightGray;
}

.article {
  &__content {
    h2 {
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /*flip functionality*/
  &__flipContainer {
    background-color: transparent;
    display: inline-block;
    height: 450px;
    perspective: 1000px;
    border-radius: 0.3125rem;

    // &:hover &__Inner {
    //   transform: rotateY(180deg);
    // }

    &__Inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.9s;
      -webkit-transition: transform 0.9s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      border-radius: 0.3125rem;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      .article__flipContainer.flip & {
        transform: rotateY(180deg);
      }

      &__cardFront,
      &__cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        // transform: rotateX(0deg);
      }
      &__cardFront {
        background-color: white;
        color: black;
        transform: rotateX(0deg);
      }
      &__cardBack {
        background-color: white;
        overflow-y: auto;
        transform: rotateX(0deg);
        // color: black;
        border-radius: 0.3125rem;
        padding: 1.875rem 1.5625rem;
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
      }
    }
  }

  /*END flip functionality*/

  &__item {
    border-radius: 0.3125rem;
    height: 450px;
    display: block;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    // transition: all 150ms ease-in-out;

    // &:hover {
    //   transform: translateY(-5%);
    //   // transform: rotateY(180deg);
    // }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: 1.0625rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    color: $darkBlue;
  }

  &__description {
    font-size: 0.8125rem;
  }
}
