.header {
  //hamburger open style
  position: relative;
  z-index: 1;
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    display: block;
    top: -5px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    // background-image: linear-gradient($darkBlue, transparent);
    background-image: linear-gradient($darkBlue, #2d314d67);
    pointer-events: none; /*added New*/
  }
  nav {
    position: relative;
    background-color: $white;
    padding-top: 0.325rem;
    padding-bottom: 0.325rem;
  }
  &__logo {
    img {
      width: 6.8125rem;
      height: 1.375;
    }
  }

  &__toggle {
    //mobile menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: rgb(180, 133, 95);
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 1.5rem;
    padding: 0.25rem 1.625rem 1.625rem 1.625rem;
    border-radius: 5px;
    a {
      display: block;
      padding: 0.625rem;
      color: $darkBlue;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
